header {
    font-size: 1.2em;
    color: #e61515;
    font-family: 'Westminster', monospace;
    background-color: aqua;
    line-height: 1.6;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    font-size: 1.2em;
    color: #d81515;
    line-height: 1.6;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
    gap: 20px;
    display: flex;
    list-style: none;
    justify-content: center;
}

.myh1class {
    color: #063b74;
}

.mypclass {
    color: #cd0505;
}

p1 {
    font-size: 30px;
    font-family: 'Westminster', monospace;
    font-weight: bold;
    text-align: center;

}

h1 {
    font-size: 50px;
    font-family: 'Westminster', monospace;
    font-weight: bold;
    text-align: center;

}

p {
    font-size: 20px;
    font-family: 'Westminster', monospace;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    align-items: center;

}

a{
     font-size: 50px;
    font-family: 'Westminster', monospace;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.img {
    text-align: center;
}


    footer{
    font-family: Arial, sans- serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-align: center;
    padding: 10px;
    background-color:
        #333;
    color: #fff;
}
